<!--Sign Up Page-->

<div class="form-signin">
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form'}) do |f| %>
	  <%= f.error_notification %>
	  <legend>Plug-In to Play</legend>
	  <%= f.input :name, label: 'First Name', placeholder: "first" %>
	  <%= f.input :lastname, label: 'Last Name', placeholder: "last" %>
	  <%= f.input :email, placeholder: "user@example.com" %>
	  <%= f.input :password, placeholder: "password" %>
	  <%= f.input :password_confirmation, label: 'Confirm Password', placeholder: "confirm password" %>

	  <%= f.submit "Sign Up", class: "btn btn-large btn-block btn-success" %>
	  
	<% end %>
</div>
