<p id="notice"><%= notice %></p>

  <p>
    <b>Idea:</b>
    <%= @project.idea %>
  </p>

  <p>
    <b>Address:</b>
    <%= @project.address %>
  </p>

  <p>
    <b>Zipcode:</b>
    <%= @project.zipcode %>
  </p>

  <p>
    <b>Problem:</b>
    <%= @project.problem %>
  </p>

  <p>
    <b>Solution:</b>
    <%= @project.solution %>
  </p>
</table>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
