<!--Sign In Page-->


<div class="form-signin">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form'}) do |f| %>
		<%= f.error_notification %>

		<%= f.input :email, placeholder: "user@example.com" %>
		<%= f.input :password, placeholder: "password" %>
		<%= f.input :remember_me, as: :boolean %>

		<%= f.submit "Plug In", class: "btn btn-large btn-large  btn-block btn-success" %>

	<% end %>
</div>
